<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  
  <style>

    *{
        margin:0px;
        padding:0px;
        font-family: 'Poppins', sans-serif;
    }
    body{
        color:white;
        background-color: rgb(2, 2, 71);
        width: 100%;
    }
    .header {
      position: sticky;
      top:0px;
      left:0px;
      display: flex;
      background-color: black;
    }

    #back-button{
      width:35px;
    }

    #logo img{
        width:60px;
        height:60px;
        border-radius: 100px;
    }

    
    .header a{
      padding: 5px 0px;
      /* background-color: white; */
    }

    a img{
      background-color: white;
      border-radius: 12px;
    }

    .user {
        padding: 15px;
        color: White;
        font-size: 20px;
    }
    .container{
      width:80%;
      margin:40px auto;
      background-color: rgb(44, 43, 43);
      padding:20px;
      border:1px solid #ddd;
    }
    .singleChat{
      width: 45%;
      padding:1%;
      margin-bottom:10px;
      border-radius:10px;
    }

    .left{
      background-color: black;
      color: white;
    }

    .right{
      background-color: green;
      color:white;
    }

    .date-container{
      font-size: 12px;
      color: gray;
      text-align: center;
      justify-content: center;
      margin:6px;
    }

    .date{
      background-color: black;
      padding:2px;
      border-radius: 2px;
    }

    .top{

    }

    .down{
      font-size:xx-small;
      /* justify-content: right; */
      text-align: right;
      margin-bottom: 0px;
    }
    .serious-dater{
      font-size: 18px;
      font-weight: bold;
      background-color: rgb(255, 255, 255);
    }

    li{
      display: flex;
    }

    #add-message{
      position: fixed;
      bottom: 0px;
      left:10vw;
      width:80%;
      color: #ffffff; /* White */
      background-color: #1e231c;
      border: 1px solid black;
      border-radius: 15px;
      cursor: pointer;
      height:50px;
      display:flex;
      margin: 0px auto;
    }

    #message{
      width:95%;
      background-color: #1e231c;
      color: white;
      border: 1px solid black;
      border-radius: 15px 0px 0px 15px;
      font-size: 20px;
    }

    #sendButton{
      width:5%;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      border-radius:20px;
    }
  </style>
</head>
<body>

  <div class="header">
    <a href="/contact"><img src="<%= backButton %>" id="#back-button" height="50px" width="50px" alt="Wait"></button></a>
    <div id="logo">
      <img src="<%= dp %>" alt="Selected Image">
    </div>
    <% if(user == friend){ %>
      <div class="user">Me(You)</div>
    <%}else{ %>
      <div class="user"><%= friend_name %></div>
    <%} %>
  </div>

  <div class="container">
    <ul id="chat-box"></ul>
  </div>

  <div id="add-message">
    <input type="text" id="message" name="message" placeholder="Type your message here..." required>
    <!-- <button id="sendButton"><img src="<%= sendButton%>" id="sender" alt="Wait"></button> -->
    <div id="sendButton">
      <img src="<%= sendButton %>" id="sender" height="50px" width="50px" alt="Wait">
    </div>
  </div>

  <script>

    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('sendButton').addEventListener('click', sendMessage);
        setInterval(loadChats, 1000);
    });

    function loadChats() {
        if (1) {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `/chats`, true);
            xhr.onload = function() {
                if (this.status === 200) {
                    const chats = JSON.parse(this.responseText);
                    let output = '';

                    var prev_date = '2001-01-01';
                    
                    chats.forEach(chat => {
                      var curr_chat_date = new Date(chat.timestamp);
                      var curr_only_date = curr_chat_date.getDate().toString().padStart(2, '0');
                      var curr_only_month = curr_chat_date.getMonth().toString().padStart(2, '0');
                      var curr_only_year = curr_chat_date.getFullYear().toString();
                      var hours = curr_chat_date.getHours().toString().padStart(2, '0');
                      var minutes = curr_chat_date.getMinutes().toString().padStart(2, '0');
                      var time = `${hours}:${minutes}`;
                      var curr_date = `${curr_only_year}-${curr_only_month}-${curr_only_date}`;
                      var curr_rev_date = `${curr_only_date}-${curr_only_month}-${curr_only_year}`;

                      if(curr_date > prev_date){
                        prev_date = curr_date;
                        output += `<li class="date-container"><div class="date">${curr_rev_date}</div></li>`
                      }

                      if(chat.Author == '<%= user %>'){
                        output += `<li><div class="singleChat"></div><div class="right singleChat"><div class = "up">${chat.message}</div><div class = "down">${time}</div></div></li>`;
                      }
                      else{
                        output += `<li><div class="left singleChat"><div class = "up">${chat.message}</div><div class = "down">${time}</div></div><div class="singleChat"></div></li>`;
                      }
                    });
                    const chatBox = document.getElementById('chat-box');
                    chatBox.innerHTML = output;
                    chatBox.scrollTop = chatBox.scrollHeight;
                  }
              }
            xhr.send();
          }
      }

    function sendMessage() {

        const message = document.getElementById('message').value;

        if (message) {
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/chats', true);
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.onload = function() {
                if (this.status === 200) {
                    document.getElementById('message').value = '';
                    loadChats();
                }
            }
            xhr.send(JSON.stringify({message }));
        }
    }

  </script>

<script>
  async function fetchSelectedImage() {
    const response = await fetch('/friendImage');
    const selectedImageContainer = document.getElementById('logo');
    if (response.ok) {
      const blob = await response.blob();
      const url = URL.createObjectURL(blob);

      selectedImageContainer.innerHTML = '';

      const imgElement = document.createElement('img');
      imgElement.src = url;
      imgElement.alt = 'Selected Image';
      selectedImageContainer.appendChild(imgElement);
    }
  }

  window.onload = fetchSelectedImage;
</script>
</body>
</html>
