<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>
    *{
        margin:0px;
        padding:0px;
        font-family: 'Poppins', sans-serif;
    }
    body{
        color:white;
        background-color: rgb(2, 2, 71);
        width: 100%;
    }
    header{
        width:100%;
        background-color: rgb(50, 50, 167);
        position: sticky;
        top:0px;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height:80px;
        width:auto;
        background-color: rgb(50, 50, 167);
    }
    .logo img{
        width:60px;
        height:60px;
        border-radius: 100px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    #logout-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #4CAF50; /* Green */
        color: #ffffff; /* White */
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }  

    #logout-button:hover {
        background-color: #3e8e41; /* Darker green on hover */
    }
    .radio-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .radio-list li {
        margin: 10px 20px;
        background-color: rgb(0, 0, 0);
        height:40px;
        border: 2px solid white;
        border-radius: 5px;
        padding:5px;
    }
    .radio-list input[type="radio"] {
        margin-right: 10px;
    }
</style>
</head>
<body>

    <header>
        <nav>
            <a href="/profile">
                <div class="logo">
                    <img src="<%= dp %>" alt="MyOnlineMeal.com">
                </div>
            </a>
            <a href="/logout"><div id="logout-button">Logout</div></a>
        </nav>
    </header>

    <div>
        <form id="myForm" action="/contact" method="POST">
            <ul class="radio-list">
                <li>
                    <input type="radio" id=<%= user %> name="option" value=<%= user %> required/>
                    <label for=<%= user %>>Me(You)</label>
                </li>
                <% users.forEach(person=>{ %>
                    <% if(person.name != user){ %>
                        <li>
                            <input type="radio" id=<%= person.name %> name="option" value=<%= person.name %> />
                            <label for=<%= person.name %>><%= person.name %></label>
                        </li>
                    <%}%>
                <%});%>
            </ul>   
            <!-- <button id="submit">Get Data</button> -->
        </form>
    </div>  

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const radios = document.querySelectorAll('input[type="radio"]');
        
        radios.forEach(radio => {
            radio.addEventListener('click', () => {
                document.getElementById('myForm').submit();
            });
        });
    });
</script>

</body>
</html>









<!-- <input type="radio" id="option1" name="option" value="option1" />
<label for="option1">Option 1</label> -->