<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>

    .header {
      position: sticky;
      top:0px;
      left:0px;
      display: flex;
      background-color: black;
    }

    #back-button{
      width:35px;
    }

    body{
      background-color: #faf6f4;
    }

    .header a{
      position: sticky;
      top:0px;
      left:0px;
      padding: 5px 10px;
      background-color: white;
    }
    .user {
        padding: 15px;
        color: White;
        font-size: 20px;
    }
    .container{
      width:80%;
      margin:40px auto;
      background-color: rgb(44, 43, 43);
      padding:20px;
      border:1px solid #ddd;
    }
    .singleChat{
      width: 45%;
      padding:1%;
      margin-bottom:10px;
      border-radius:10px;
    }

    .left{
      background-color: black;
      color: white;
    }

    .right{
      background-color: green;
      color:white;
    }
      

    .serious-dater{
      font-size: 18px;
      font-weight: bold;
      background-color: rgb(255, 255, 255);
    }

    li{
      display: flex;
    }

    #add-message{
      position: sticky;
      bottom: 0px;
      width:80%;
      color: #ffffff; /* White */
      background-color: #1e231c;
      border: 1px solid black;
      border-radius: 15px;
      cursor: pointer;
      height:50px;
      display:flex;
      margin: 0px auto;
    }

    #message{
      width:95%;
      background-color: #1e231c;
      color: white;
      border: 1px solid black;
      border-radius: 15px 0px 0px 15px;
      font-size: 20px;
    }

    #sendButton{
      width:5%;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      border-radius:20px;
    }
  </style>
</style>
</head>
<body>

  <div class="header">
    <a href="/contact"><img src="<%= backButton %>" id="#back-button" height="50px" width="50px" alt="Wait"></button></a>
    <div class="user"><%= friend %></div>
  </div>

  <div class="container">
    <ul id="chat-box"></ul>
  </div>

  <div id="add-message">
    <input type="text" id="message" name="message" placeholder="Type your message here..." required>
    <!-- <button id="sendButton"><img src="<%= sendButton%>" id="sender" alt="Wait"></button> -->
    <div id="sendButton">
      <img src="<%= sendButton %>" id="sender" height="50px" width="50px" alt="Wait"></button>
    </div>
  </div>

  <script>

    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('sendButton').addEventListener('click', sendMessage);
        setInterval(loadChats, 1000);
    });

    function loadChats() {
        if (1) {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `/chats`, true);
            xhr.onload = function() {
                if (this.status === 200) {
                    const chats = JSON.parse(this.responseText);
                    let output = '';
                    chats.forEach(chat => {
                      console.log(chat);
                      if(chat.Author == '<%= user %>'){
                        output += `<li><div class="singleChat"></div><div class="right singleChat">${chat.message}</div></li>`;
                      }
                      else{
                        output += `<li><div class="left singleChat">${chat.message}</div><div class="singleChat"></div></li>`;
                      }
                      // output += `<li><div class = "singleChat"><strong>${chat.Author}</strong>: ${chat.message}</div></li>`;
                    });
                    const chatBox = document.getElementById('chat-box');
                    chatBox.innerHTML = output;
                    chatBox.scrollTop = chatBox.scrollHeight;
                  }
              }
            xhr.send();
          }
      }

    function sendMessage() {

        const message = document.getElementById('message').value;

        if (message) {
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/chats', true);
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.onload = function() {
                if (this.status === 200) {
                    document.getElementById('message').value = '';
                    loadChats();
                }
            }
            xhr.send(JSON.stringify({message }));
        }
    }

  </script>
</body>
</html>
